.header {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.header__title {
  flex-direction: column;
  max-width: 709px;
  margin-top: 183px;
  margin-left: 80px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  display: block;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  margin-top: 28px;
  font-family: "Noto serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}
.header__footer {
  margin-top: auto;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  font-weight: 500;
  color: #838383;
}

.header__footer-list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 80px;
  padding-left: 0;
}

.header__paragraph {
  margin-top: 0;
  margin-right: 80px;
  z-index: 1;
}
